{% extends 'base.html' %}

{% block content %}

<h1>Product Detail</h1>

<ul>
    <li>{{ data.product__name }}</li>
    <li>{{ data.sku }}</li>
    <li>{{ data.product_inventory__units }}</li>
    {{data.field_a}}
</ul>

<ul>
{% for x in z %}
    <li>
    {{x.product_attribute__name}}

    <ul>
    {% for a in y %}
        {% if a.attribute_values__product_attribute__name == x.product_attribute__name %}
            {% if a.attribute_values__attribute_value in data.field_a %}
                <li>
                    <div class=" selected fw-bold">{{a.attribute_values__attribute_value }}</div>
                </li>
            {% else %}
            <li>{{a.attribute_values__attribute_value }}</li>
            {% endif %}
        {% endif %}
    {% endfor %}
    </ul>

    </li>
{% endfor %}
</ul>


{% endblock content %}