{% extends 'base.html' %}

{% block content %}

<h1>Product Detail</h1>

<ul>
{% for x in data %}

<li>{{ x.product__name }}</li>
<li>{{ x.sku }}</li>
<li>{{ x.product_inventory__units }}</li>

{% endfor%}
</ul>

<ul>
{% for x in z %}
    <li>
    {{x.product_attribute__name}}

    <ul>
    {% for a in y %}
        {% if a.attribute_values__product_attribute__name == x.product_attribute__name %}
            <li>{{a.attribute_values__attribute_value }}</li>
        {% endif %}
    {% endfor %}
    </ul>
    
    </li>
{% endfor %}
</ul>


{% endblock content %}